<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav clicable">
      <li><a (click)="OnSelectedProduct()">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
        <ul class="dropdown-menu clicable">
          <li ><a routerLink="products/promo">En promotion</a></li>
          <li ><a routerLink="products/dispo">Disponible</a></li>
        </ul>
      </li>
      <li ><a routerLink='caddy/new'>Caddies</a></li>
      <li ><a routerLink='client/new'>Client</a></li>
      <li ><a routerLink='/auth/signin'>Authentifier</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a ></a>
      </li>
      <li>
        <a (click)="onLogout()">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<app-category></app-category>
