
<app-navbar></app-navbar>
<div class="container" >
      <ng-container *ngIf="bookList$|async as books" [ngSwitch]="books.dataState">
        <ng-container *ngSwitchCase="bookEnum.LOADING">
        loading....
        </ng-container>
          <ng-container *ngSwitchCase="bookEnum.LOADED">
            
          <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">title</th>
              <th scope="col">autor</th>
              <th scope="col">Date Location</th>
              <th scope="col">avalable</th>
              <th scope="col">selected</th>
              <th scope="col">edit</th>
            </tr>
          </thead>
        
          <tbody  *ngFor="let book of books.data">
            <tr>
              <th scope="row">{{book.id}}</th>
              <td>{{book.title}}</td>
              <td>{{book.author}}</td>
              <td>{{book.dateLocation|date:'à HH:mm, le d MMMM yyyy'}}</td>
              <td>{{book.available}}</td>
              <td>{{book.selected}}</td>
              <td><button (click)="onviewBook(book.id)">view</button></td>
              <td><button (click)="onEditBook(book.id)">edit</button></td>
              <td><button (click)="onDeleteBook(book.id)">delete</button></td>
            </tr>
          </tbody>
        </table>
        </ng-container>
          <ng-container *ngSwitchCase="bookEnum.ERROR">
           
        <small class="alert-danger">
          {{books.MessageError}}
        </small>
 
      </ng-container>
    </ng-container>
    </div>
   