
<div class="col-md-9"*ngIf="currentProduct">
  <div class="panel panel-default" *ngIf="mode==0">
    <div class="panel-heading">Fiche Produit : {{currentProduct.name}}
      <span class="glyphicon glyphicon-edit pull-right btn" (click)="onEditProduct()"></span>
    </div>
    <div class="panel-body">
      <div class="col-md-5">
        <img class="img img-thumbnail img-rounded btn"  [src]="'http://localhost:8080/photoProduct/'+currentProduct.id+'?ts='+getTS()"/>
        <button *ngIf="!editPhoto" (click)="onEditPhoto(currentProduct)">
          <span class="glyphicon glyphicon-edit"></span>
        </button>
        <span *ngIf="editPhoto">
            <input type="file" (change)="onSelectedFile($event)">
            <button class="btn btn-success btn-sm" (click)="uploadPhoto()">
              <span class="glyphicon glyphicon-upload"></span>
            </button>
            {{progress}}
          </span>
        </div>

        <div>
        <span *ngIf="currentProduct.promotion">
                <img src="assets/images/promo.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="currentProduct.selected">
                <img src="assets/images/favorite.png" class="img-thumbnail img-circle" height="30">
              </span>
          <span *ngIf="currentProduct.available">
                <img src="assets/images/available.png" class="img-thumbnail img-circle"  height="30">
              </span>
        </div>
        <div>

        </div>
    </div>
  </div>
</div>
